* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-div {
  padding: 36px
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.flex-y12px {
  display: flex;
  margin: 12px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}